root = true
[*]
end_of_line = crlf
insert_final_newline = true

# Code files
[*.cs]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,props}]
indent_style = space
indent_size = 2

# IDE warnings
[*.cs]
# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none
# SA1637: File header should contain file name
dotnet_diagnostic.SA1637.severity = none
# SA1640: File header should have valid company text
dotnet_diagnostic.SA1640.severity = none
# SA1636: File header copyright text should match
dotnet_diagnostic.SA1636.severity = none

# S3376: Attribute, EventArgs, and Exception type names should end with the type being extended
dotnet_diagnostic.S3376.severity = none

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = suggestion

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = false

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
